.form-location {
    @include flex-center;
    background-color: darken-background(map-get($colours, "background-main"));
    box-shadow: $shadow-header;
    padding: 1rem;
    &__icon {
        margin-right: 10px;
    }
    .field {
        text-align: center;
    }
    input {
        font-weight: map-get($font-weights, "medium");
        background-color: inherit;
        border: none;
        font-size: 1.2em;
        text-align: center;
        width: 150px;
        }
}