.header {
    &__logo {
        @include flex-center;
        padding: 1.2rem;
    }
    &__title {
        @include logo;
    }
}
.menu__icon {
    cursor: pointer;
    .fa-heart {
        font-size: 1.4em;
        background-color: #f3ec78;
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
        background-size: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    .fa-heart:hover {
        animation: anim-rotate-circle $duration $method $delay both;
        background: -webkit-linear-gradient(#9356DC, #FF79DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        &::before {
            transition: all 1s ease-in-out;
            -webkit-background-clip: text;
            font-weight: 900;
            background-image: linear-gradient(#9356DC, #FF79DA);
            -webkit-text-fill-color: transparent;            
            
          }
          
    };
}

