.proj-function {
  /*display: flex;
  flex-direction: row; */
  &__header {
    @include laptop {
      margin: $margin-titles-laptop;
    }
    @include mobile {
      margin: $margin-titles-mobile;
  }
    @include titles;
  }
  &__list {
    @include mobile {
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center;
    }
    @include laptop {
      @include biggerscreen; // adapting the list in rows with space in between
      justify-content: space-around;
      margin: 50px 1rem 50px 1rem;
    }
  }
   &__btn {
     @include laptop {
       width: 300px;
     }  
    @include btn-menu;
    border-radius: $radius-func-list-card;
    
    &:hover {
      background-color: map-get($colours, "primary-lighten");
      box-shadow: $shadow-header;
    }
    
   }
    &__circle {
      @include laptop {
        position: relative;
        left: -30px;
        top: 1px;
      }
      @include circle;
    }
    &__icon {
      &:hover {
        color: map-get($colours, "primary-colour");
        }
      @include laptop {
        margin-top: 5px;
        margin-right: 5px;
      }
      margin-right: 10px;
      color: map-get($colours, "icon-colour");
    }
}
.proj-function__title {
  @include laptop {
    margin-top: 5px;
    margin-left: 1rem;
  }
}
